name: Deploy Django Backend to Azure Web App

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies (for validation)
        run: |
          python -m venv antenv
          source antenv/bin/activate
          pip install -r requirements.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: django-app
          path: |
            .
            !antenv/
            !.git/
            !**/__pycache__/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: django-app

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "NOVYA-BACKEND-DJANGO"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_1086AD9EFAC74C86A94103B534D148A6 }}
          package: .
