name: Deploy Django to Azure Web App

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create deployment ZIP (EXCLUDES venv)
        run: |
          zip -r release.zip . \
            -x "*.git*" "*.github*" "*.venv*" "venv/*" "antenv/*" "__pycache__/*" "*.pytest_cache*" \
            "*.md" "setup_*" "start.bat" "output.tar.gz"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "NOVYA-BACKEND-DJANGO"
          package: release.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_1086AD9EFAC74C86A94103B534D148A6 }}
