name: Deploy Django Backend to Azure

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Create deployment ZIP
      run: |
        zip -r backend.zip . -x "antenv/*"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: django-backend
        path: backend.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: django-backend

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: "NOVYA-BACKEND-DJANGO"
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_1086AD9EFAC74C86A94103B534D148A6 }}
        package: backend.zip
